body{
    margin: 0;
    padding: 0;
}
.main{
    background-color: black;
}
header{
    background-color: black;
    padding: 20px;
}
.restName{
    -webkit-text-fill-color: white;
}
.restNameDesc{
    -webkit-text-fill-color: white;
}
.headerContactInfo{
    -webkit-text-fill-color: white;
}

nav{
    background-color: #393e46;
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    z-index: 100;
}
nav li{
    list-style-type: none;
    flex: 1;
    display: flex;
    text-align: center;
    align-items: center;

}
nav li a{
    text-decoration: none;
    -webkit-text-fill-color: white;
    flex-grow: 1;
    padding: 10px;
    font-size: 1.5rem;
    z-index: 1000;
}
nav li :hover{
    -webkit-text-fill-color: #222831;
}

.sticky{
    position: sticky;
    top: 0;
}

.gifContainer{
    width: auto;
    height: 100%;
    margin: -90px 0px;
    z-index: -10;
    text-align: center;
}
.fryingVideo{
    position: relative;
    height: auto;
    width: 100%;
    z-index: -10;
}
.fryingImg{
    width: 100%;
    height: auto;
}
header{
    display: flex;
    flex-direction: column;

}
.title{
    display: flex;

}
.restName{
    font-size:3rem;
    text-align: center;
}
.restNameDesc{
    font-size: 2rem;
    text-align: center;
}
.headerInfo{
    display: inline-flex;
    justify-content: space-around;
    align-items: flex-end;
}
.headerContactInfo{
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 1000;
}
.number{
    font-size: 1rem;
    margin: 5px;
}
.email{
    font-size: 1rem;
    margin: 5px;
    text-decoration: none;
}
.headerIcons{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: auto;
    z-index: 1000;
}
.headerIcons a{
    display: flex;
    align-items: center;
}
.headerIcons a img{
    width: 75%;
    height: auto;
    aspect-ratio: 1 / 1;
}

.headerLogoContainer img{
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;

}
.danielsDesc{
    text-align: center;
    background-color: black;

}
.danielDescText{
    -webkit-text-fill-color: #f2f2f2;
    padding: 0px 20%;
}
.danielDescLine{
    -webkit-text-fill-color: #f2f2f2;
}
.danielFoodImg{
    width: 60%;
    height: auto;
}
.line{
    width: 60%;
    border-color: #f96d00;
    margin-top: 40px;
}
.valuesContainer{
    display: flex;
    flex-direction:row;
    padding: 0% 12%;
}
.valueTextContainer{
    padding: 20px;
    -webkit-text-fill-color: white;
}
.valueTextContainer h1{
    -webkit-text-fill-color: #f96d00;
}
.servicesContainer{
    background-color: #f2f2f2;
    margin: 0px;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px 10px;
}
.servicesContainer h1{
    margin: 0px;
    padding: 10px;
}
.servicesContainer h2{
    padding: 0px 20%;
    margin: 0px;
}
.servicesContainer p{
    padding: 0px 20%;
    margin: 5px;
}
.cateringContainer{
    background-color: black;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 30px 10px;
    -webkit-text-fill-color: white;
}
.cateringContainer h1{
    margin: 0px;
    padding: 10px;
}
.cateringContainer h2{
    padding: 0px 20%;
    margin: 0px;
}
.cateringContainer p{
    padding: 0px 20%;
    margin: 5px;
}
.galleryButton{
    -webkit-text-fill-color: #f96d00;
}


.contactContainer{
    background-color: black;
    text-align: center;
    -webkit-text-fill-color: white;
    margin: 0;
}
.contactContainer h1{
    margin: 0;
}
.contactTextContainer{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}
.addressContainer{
    flex: 1;
}
.addressContainer h1{
    -webkit-text-fill-color: #f96d00;
}
.addressContainer a{
    -webkit-text-fill-color: white;
    text-decoration: none;
}
.contactinfoContainer{
    flex: 1;
}
.contactinfoContainer h1{
    -webkit-text-fill-color: #f96d00;
}

.hoursContainer{
    flex: 1;
}
.hoursContainer h1{
    -webkit-text-fill-color: #f96d00;
}
.mapContainer{
    text-align: center;
    background-color: black;
    padding: 10px;
    margin: 0px;
}

.map{
    text-align: center;
    width: 90%;
    height: auto;
}
.galleryTitle{
    text-align: center;
}
.galleryContainer{
    text-align: center;
    background-color: gray;
    z-index: ;
}
.slideshow-container {
    position: relative;
    width: 40%;
    height: auto;
    aspect-ratio: 1 /1 ;
    margin: 0px auto;
    overflow: hidden;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
    height: 100%;
}

.slides img {
    width: 100%;
    height: auto;
    z-index: 1;
    object-fit: contain;

}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 16px;
    color: #ffffff;
    font-weight: bold;
    font-size: 24px;
    z-index: 5; /* Set z-index to bring arrow buttons above images */
    background-color: rgba(0, 0, 0, 0.5);
    

    
}

.prev {
    left: 0;
    border-radius: 0 15% 15% 0;
}

.next {
    right: 0;
    border-radius: 15% 0 0 15%;
}



@media (max-width: 600px) {
    .valuesContainer{
        flex-wrap: wrap;
    }
    .danielFoodImg{
        width: 100%;
    }
    .restNameDesc{
        font-size: 0;
    }
    .number, .email{
        font-size: .75rem;
    }
    .headerLogoContainer{
        width: 30%;
    }
    .gifContainer{
        width: auto;
        height: 100%;
        margin: -50px 0px;
        z-index: -10;
        text-align: center;
    }
    .contactTextContainer{
        flex-direction: column;
    }
}